flask
flask-sqlalchemy
flask-bcrypt
python-dotenv
flask-session
redis
flask-cors
langchain
langchain-community
faiss-cpu
transformers
ctransformers
sentence-transformers
pypdf
PyPDF2
ollama
pdfplumber
chromadb